/* Layout base */
.layout {
    display: flex;
    min-height: 100vh;
    background: var(--secondary)
    /* background: var(--bg); */
    
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Conteúdo */
.section-title {
    margin: 24px 0 20px;
    font-size: 20px;
    text-align: center;
    color: var(--bg)
}





/* Responsividade */
@media (max-width: 1280px) {
    .apps-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .apps-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 860px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--border);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .sidebar nav {
        grid-auto-flow: column;
        overflow: auto;
        gap: 8px;
    }

    .sidebar a {
        white-space: nowrap;
    }

    .header-inner {
        grid-template-columns: 1fr auto;
    }

    .apps-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 620px) {
    .header-inner {
        grid-template-columns: 1fr;
    }

    .search {
        order: 2;
    }

    .apps-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .card {
        height: 90px;
    }
}

@media (max-width: 380px) {
    .apps-grid {
        grid-template-columns: 1fr;
    }
}